<h1> Hello from the services show file for <% @service.id %> </h1>

<div class="content">
  <div class="cards">

    <div class="card">
      <div class="card-service-container">
        <img src="<%= @service.thumbnail %>" class="card-service-container-image" />
          <div class="card-service-container-infos">
            <h2><%= @service.part %></h2>
            <p><%= @service.description %></p>
            <p><%= @service.brand %></p>
          </div>
          <div class="card-servive-container-avatar">
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob"  class="avatar-bordered" />
          </div>
        </div>
    </div>

  </div>
</div>

<%# form for new reviews %>

<%# show all reviews %>
<% Review.all.each do |review| %>
  <% if review.service.id == @service.id %>
  <div class="notification">
    <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
    <div class="notification-content">
      <p><small>Date.day</small></p>
      <p><%= review.content %> <strong>consectetur</strong> adipisicing elit.</p>
    </div>

    <div class="notification-actions">
      <a href="#">Edit <i class="fas fa-pencil-alt"></i></a>
      <a href="#">Delete <i class="far fa-trash-alt"></i></a>
    </div>

    <div class="review-stars"> <%# yuhri, class review stars doesn't exist yet %>
      <p><%= review.stars %></p>
    </div>
  </div>

  <% end %>
<% end %>

