  <div class="container-user-services">
    <div class="user-services">
        <article class="thumb">
          <picture class="thumbnail">
            <img src="<%= @service.thumbnail %>" class="thumb-service-container-image" />
          </picture>
          <div class="thumb-content">
            <ul>
              <li><p><%= @service.brand %></p>
              <li><p><%= @service.part %></p>
              <img src="https://kitt.lewagon.com/placeholder/users/krokrob"  class="avatar-bordered" />
            </ul>
            <h6><%= @service.description %></h6>
          </div>
        </article>
    </div>  
      <div class="reviews-container">
        <div class="reviews-content">    
          <% Review.all.each do |review| %>
            <% if review.service.id == @service.id %>
            <div class="notification">
              <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large">
              <i <%= review.stars %> class="fas fa-star star-yellow"></i>
              <i class="fas fa-star star-yellow"></i>
              <i class="fas fa-star star-yellow"></i>
              <i class="fas fa-star star-yellow"><span>4.8</i>
              <div class="notification-content">
                <p><small>26/08/2021</small></p>
                <p><%= review.content %></p>
              </div>
              <div class="notification-actions">
                <a id="pencil" href="#"><i class="fas fa-pencil-alt"></i></a>
                <a id="trash" href="#"><i class="far fa-trash-alt"></i></a>
              </div>
              <div class="review-stars"> <%# DON'T DELETE THIS EMPTY DIV%>
              </div>
            </div>
            <% end %>
          <% end %>
        </div>
      </div> 

      <%# form for new review %>
      <div class="review-note">
        <div class="review-notification">
          <div class="notification-content ">
            <%= simple_form_for @review do |f| %>
              <div id="simple-form">
                <%= f.input :content, placeholder: 'Enter a comment' %>
                <%= f.submit class: "btn btn-form", id: "button-form" %>
              </div>
            <% end %>
          <div class="notification-actions">
          <%# comment stars here %>
          </div>
        </div>
      </div>
    </div>
      <%# <footer class="section2">
        <p>
          SAILNATION&copy;
          <span id="date"></span> - all rights reserved
        </p>
        <a class="scroll-link top-link2" href="">
          <i class="fas2 fa-arrow-up"></i>
        </a>
        <div class="footer-links2">
          <a href="#"><i class="fab fa-github"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
     </footer>
    </div>   %>
  <div>
    <div class="trapezoid "></div>
    <div class="square"></div>
    <div class="square2"></div>